<%- include("partials/header"); -%>

<!-- <div class="container">
</div> -->

<div class=" container jumbotron jumbotron-fluid">
  <div class="container">
    <h1><%=title%></h1>
    <p style="font-size: 0.8rem;"><%= date %></p>
    <p><%=content%></p>
  </div>

</div>

<%- include("partials/footer"); -%>